body{
    background-color:rgba(177, 177, 237);
    
    
}
h1{
    width: 300px;
    text-align:center;
    color: #ff0000;
    border-style:inset;
    border-width:thick;
    border-color: blue black red yellow;
    margin-left:auto;
    margin-right:auto;
}
p{
    color: rgb(50, 21, 241);
}
p.ridge{
    border-style:ridge;
    border-width:25px 10px 4px 35px;
    border-color:red;
    
}
h2{
    border-style: solid;
    border-radius: 10px;
    background-color: green;
    margin:10px 300px 80px 300px;
    padding:30px;
   max-height: 200px;
    max-width: 300px;
    text-align: left
}
.div{
    max-width:300px;
    /* height: 100px; */
    color:red;
    border-style:outset;
    padding: 24px 22px 30px 30px;
    box-sizing: border-box;
    outline-style:double;
    outline-color:green;
    outline-width: medium;
    outline-offset: 10px;
}
    h3{
        text-align: right;
        vertical-align: middle;
        /* we have top, middle and bottom */
        text-decoration: line-through;
        
        /* we also have overline and underline */
        text-transform: capitalize;
        /* we also have uppercase and lower case */
        text-indent: 10px;
        letter-spacing: 5px;
        line-height: 1.8;
        word-spacing:10px;
        text-shadow: 2px 2px 5px green;
       
        /* the first two is for the shadow and the last one is for the blur effect */
        font-family: serif;
    }
    /* font-styles are normal, italic or oblique and font-weight is normal or bold, 
    font-variant is normal and small-caps, font-size in px, em oe percentage, em allows easy
    resizing, you can use google font by adding to the link and seperate different fonts with a pipe
    google also enable font-effects the value will be the efffect name and multiple effect can be added
    to a single font */
    
    /* the box-sizing is used to keep the width irrespective of the padding size */

/* an html element or attribute can have two classes which can make them to be styled according 
to the two classes, you can specify that specific elements be affected by a class e.g p.center 
*universal sselector affects all the html element on the page grouping selector e.g h1, p, 
h2 can all be grouped together when styling*/
/* opacity: 0.6; * best to use rgba if you do not want to add opacity to the child elements/, mackground image can be repeated 
horizontally or vertically or not repeated at all, background image can be position too e.g background-position:right top
background attachment is for whether the background image shopuld be fixed or scroll*/
/* you can give a border four sides of  a border four different properties in the order top, right, bottom, left */
/* border styles: solid, double, dotted, outset, inset, groove,ridge, dashed */
/* css outline offset sets space between the border and the outline */

/* outline ids drawn around elemnts outside the borders */
